@model PS.Models.Car
@{
    ViewBag.Title = "Addnew";
}

<h2>Addnew</h2>
<h3>YOu Dont have a car gareb</h3>
@*<h4>click here to add a new car</h4>*@
@Html.ActionLink("Click here to add a new car","create")
